.header_background_orange {
    background-color: #EC1A24;
    /* height: 2vh; */
}

.background_blue {
    background-color: black;
    border-bottom: 2px solid #EC1A24;

}

.fade-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-text {
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-container .fade-text {
    opacity: 1;
}

.overflow_stop {
    overflow-x: hidden !important;
}

.width_logo {
    width: 160px;
    padding-left: 10px;
    padding-right: 10px;
}

.widdth_height_bg {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 7.5px;
    background-color: #228822;
    border-radius: 50%;
    color: white;
}

.location_text {
    color: white;
    padding-left: 5px;
    font-weight: 400;
    font-size: 18px;

}

.width_set1 {
    width: 18%;
}

.width_set2 {
    width: 20%;
}

.width_set3 {
    width: 27%;
}

.width_set5 {
    width: 20%;
}

.width_set4 {
    width: 14%;
    text-align: end;
    padding-right: 10px;
}

.position_of_3rdnav {
    position: absolute;
    z-index: 1111;
    background-color: #4bbb174d;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s;
    font-weight: 600;
}

.position_of_3rdnav_other {
    z-index: 1111;
    background-color: #228822;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s;
    font-weight: 600;
}

.image_slider_front {
    background-image: url(../../../public/images/slider-bg.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 12%;
}

.vedioPlayer {
    width: 100%;
    height: 40% !important;
    position: relative;
}

.color_white_text {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.padding_top_bottom_left_right {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;
}

.button_srcondary_position {
    position: fixed;
    bottom: 15px;
    z-index: 11111;
    width: 100%;
}

.button_srcondary_position111 {
    position: fixed;
    bottom: 75px;
    z-index: 11111;
    width: 100%;
}

.button_cutome {
    background-color: white !important;
    border-radius: 8px !important;
}

.button_cutome1 {
    background-color: #FFFFFF;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid #FFFFFF;
    color: black !important;
    border-radius: 0px !important;
}


.button_cutome12 {
    background-color: #FFFFFF;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid #FFFFFF;
    color: black !important;
    border-radius: 0px !important;
    font-size: 12px;
}


.margin_right_neggg {
    position: absolute;
    z-index: 111;
    margin-top: 100px;
    right: 20% !important;
    width: 500px;
}


.factory_icon {
    font-size: 100px;
}

.mission_text {
    font-size: 16px;
    font-weight: 700;
}

.utlizing_font {
    color: #C5C5C5;
    font-size: 14px;
}

.explore_text {
    font-size: 14px;
    color: #F09753;
    font-weight: 700;
}

.button_cutome2 {
    background-color: black;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid black;
    /* width: 20%; */
}

.button_cutome2:hover {
    background-color: black;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid black;
}

.border_of_cards {
    /* border: 1px solid #EC1A24; */
    -webkit-box-shadow: -3px 7px 33px -4px rgba(0, 0, 0, 0.289);
    -moz-box-shadow: -3px 7px 33px -4px rgba(0, 0, 0, 0.289);
    box-shadow: -3px 7px 33px -4px rgba(0, 0, 0, 0.289);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.border_of_cards:hover {
    /* border: 1px solid #EC1A24; */
    -webkit-box-shadow: -3px 7px 33px -4px #e91e2166;
    -moz-box-shadow: -3px 7px 33px -4px #e91e2166;
    box-shadow: -3px 7px 33px -4px #e91e2166;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;

}

.img_heights_of_cards {
    height: 260px;
    width: 100%;
}

.img_heights_of_cards2 {
    height: 160px;
    width: 100%;
}


.button_cutome_black {
    background-color: black;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid black;
}

.border_for_image {
    border: 3px solid #EC1A24;
    border-radius: 10px;
}

.border_for_image1 {
    border: 3px solid #EC1A24;
    border-radius: 10px;
}


.color_towerld {
    color: #EC1A24;
}

.font_for_p {
    font-size: 19px;
    margin-top: 20px;
}

.backgrou_blue_section3 {
    background-color: black;
}

.button_white_tabs {
    border-radius: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    background-color: #DA7426 !important;
    font-weight: 600;
    color: white;
    border-radius: 8px;

}

.button_white_tabs_unactive {
    background-color: #EC1A24 !important;
    border-radius: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    color: black;
    border: none !important;
    font-weight: 600;
    border-radius: 8px;
}

.button_white_tabs_unactive:hover {
    background-color: #228822 !important;
    border-radius: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    color: black;
    border: none !important;
    border-radius: 8px;
}

.border_for_c_image {
    border-radius: 8px;
    height: 310px;
}

.padding_top_card {
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    /* padding: 25px 15px; */
    transition: all .5s;
    background-color: white;
    border-radius: 8px;
    height: 550px;
    overflow: hidden;
    position: relative;
}

.padding_top_card:hover {
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    /* padding: 25px 15px; */
    transition: all .5s;
    background-color: #EC1A24;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: -3px 7px 33px -4px #f9f9f966;
    -moz-box-shadow: -3px 7px 33px -4px #f9f9f966;
    box-shadow: -3px 7px 33px -4px #f9f9f966;
    position: relative;
}

.position_of_button {
    position: absolute;
    bottom: 20px;
    z-index: 11;

}


.padding_top_bottom_left_right_only {
    padding-left: 100px;
    padding-right: 100px;
}

.padding_top_bottom_left_1 {
    padding-left: 100px;
}

.padding_top_bottom_right_1 {
    padding-right: 100px;
}

.factory_thin {
    font-size: 100px;
    color: white;
}

.font_size_card_sin {
    font-size: 17px;
    color: white;
    font-weight: 700;
}

.line_ww {
    background-color: #FFFFFF !important;
    height: 3px;
    width: 40px;
}

.line_ww_00 {
    background-color: #EC1A24 !important;
    height: 3px;
    width: 40px;
}

.width_of_line {
    width: 5%;
}

.img_gray {
    background-image: linear-gradient(#3C3C3C, #656565, #656565);
    background-image: url(/public/images/filter4.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 50vh;
}

.img_gray1 {
    background-image: linear-gradient(#3C3C3C, #656565, #656565);
    background-image: url(/public/images/filter5.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 50vh;
}

.img_gray2 {
    background-image: linear-gradient(#3C3C3C, #656565, #656565);
    background-image: url(/public/images/filter6.webp);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 50vh;
}

.font_floride {
    font-size: 16px;
    font-weight: 600;
}



.border_right_simple:hover {
    transition: 0.5s ease-in-out;
}

.border_right_simple:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    background-color: #EC1A24;
    color: white !important;
    transition: 0.5s ease-in-out;
}

.border_right_11 {
    border-right: 2px solid #EBEBEB;
    transition: 0.5s ease-in-out;
}

.border_right_11:hover {
    border-right: 0px solid #EBEBEB;
    background-color: #EC1A24;
    color: white !important;
    transition: 0.5s ease-in-out;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.border_right_11:hover .env_text,
.border_right_11:hover .env_text_sub,
.border_right_11:hover .arroe_colorcc {
    color: white;
    /* Change the color of .env_text and .env_sub_text to red */
}


.border_right_12 {
    border-right: 2px solid #EBEBEB;
    transition: 0.5s ease-in-out;
}

.border_right_12:hover {
    border-right: 0px solid #EBEBEB;
    background-color: #EC1A24;
    color: white !important;
    transition: 0.5s ease-in-out;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.border_right_12:hover .env_text,
.border_right_12:hover .env_text_sub,
.border_right_12:hover .arroe_colorcc,
.border_right_12:hover .font_s3_pp {
    color: white;
    /* Change the color of .env_text and .env_sub_text to red */
}

.border_right_simple:hover .env_text,
.border_right_simple:hover .env_text_sub,
.border_right_simple:hover .arroe_colorcc {
    color: white;
    /* Change the color of .env_text and .env_sub_text to red */
}

.background_for_maps {
    background-color: black;
}

.env_text {
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.env_text_sub {
    font-size: 16px;
    color: #9D9D9D;
}

.env_text_sub_small {
    font-size: 14px;
    color: #9D9D9D;
}

.env_text_sub_orange {
    font-size: 16px;
    font-weight: 600;
    color: #EC1A24;
}

.img_single_gray {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: gray;
}

.orange_border_color {
    border: 3px solid #EC1A24;
    border-radius: 50px;
    padding: 3px;
}

.font_stars_review {
    font-size: 14px;
    font-weight: 600;
}

.font_stars_review_name {
    font-size: 12px;
    font-weight: 600;
}

.color_stars {
    color: #EC1A24;
}

.env_text_sub_ceo {
    font-size: 14px;
    color: rgb(106, 106, 106);
}

.box1_background {
    background-color: #C0C0C0;
    height: 45vh;
    background-image: url(/public/images/carr.png);
    background-size: cover;
    background-position: 90% 100%;
    background-repeat: no-repeat;
}

.box2_background {
    background-color: #EC1A24;
    height: 29vh;
    margin-top: 70px;
}

.box3_background {
    background-color: #EC1A24;
    z-index: 111;
    height: 10vh;
}

.font_styling_vv {
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.icon_orangee_dot {
    color: #EC1A24;
}

.font_listing_qq {
    font-size: 18px;
    font-weight: 600;
}

.background_s3 {
    background-color: #F9F9F9;
}

.background_s3_orange {
    background-image: linear-gradient(#515151, #202020);
    background-image: url(/public/images/big2.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background_hover_black {
    padding-left: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    transition: 0.5s ease-in-out;
}

.background_hover_black:hover {
    background-color: black;
    padding-left: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    transition: 0.5 ease-in-out;
}

.position_relative_bb {
    position: relative;
}

.position_relative_bb_new {
    position: relative;
    height: 80vh;
}

.position_box1 {
    position: absolute;
    z-index: 11;
}

.arroe_colorcc {
    color: #EC1A24;
  
}

.little_orange_text {
    font-size: 12px;
    color: #EC1A24;
    font-weight: 600;
}

.little_orange_tex1t {
    font-size: 14px;
    color: #EC1A24;
    font-weight: 600;
}

.padding_1
{
    padding-top: 33px !important;
}

.padding_2
{
    padding-top: 20px !important;
}

.padding_3
{
    padding-top: 34px !important;
}

.font_big_heading {
    font-size: 40px;
    font-weight: 600;
}

.font_big_heading_sub {
    font-size: 35px;
    font-weight: 600;
}

.font_big_heading_sub_new {
    font-size: 20px;
    font-weight: 600;
}

.font_big_heading_sub_light {
    font-size: 29px;
    font-weight: 600;
}



.fomr_input_dd {
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4 !important;
    font-size: 16px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button_cutome_orange {
    background-color: #EC1A24;
    border-radius: 0px !important;
    color: white !important;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.button_cutome_black {
    background-color: black;
    border-radius: 0px !important;
    color: white !important;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.position_bottom_1 {
    position: absolute;
    bottom: -38px;
}

.margin_top_neg_bottom {
    margin-top: -180px;
    z-index: 111;
    margin-bottom: 5%;
}

.image_sizing_logos {
    height: 140px;
    width: 180px;
    /* filter: grayscale(100%); */
}

.background_lg {
    background-color: #B8B8B8;
    background-image: url(/public/images/filter7.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.background_g {
    background-color: #5D5D5D;
    height: 85vh;

}

.padding_bottom_black_section {
    padding-bottom: 180px;
}

.font_s3_pp {
    font-size: 100px;
    color: #EC1A24;
}

.readmore_text {
    font-size: 14px;
    font-weight: 600;
}

.background_orange_11 {
    background-color: #EC1A24;
}

.background_gray_22 {
    background-color: #B8B8B8;
    background-image: url(/public/images/filter2.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.padding_start_for_special_heading {
    padding-left: 15%;
}

.main_shadow_card {
    -webkit-box-shadow: -1px 9px 49px -3px rgba(181, 181, 181, 1);
    -moz-box-shadow: -1px 9px 49px -3px rgba(181, 181, 181, 1);
    box-shadow: -1px 9px 49px -3px rgba(181, 181, 181, 1);
    background-color: white;
}

.image_hei_ww_adj
{
    height: 100px;
    width: 100px !important;
    object-fit: cover;
    border: 1px solid #EC1A24;
    border-radius: 10px;
}

.border_for_lg {
    border-radius: 8px !important;
}

.background_footer {
    background-color: #161616;
}

.text_footer_gray {
    color: #999999 !important;
}

.display_pc {
    display: block;
}

.display_mobile {
    display: none;
}

.buger_menu {
    color: white !important;
    font-size: 25px;
}

.background_blue_position {
    position: absolute;
    z-index: 11;
    background-color: #EC1A24;
    color: white;
    height: 100%;
    width: 100%;
}

.heightadjustment {
    display: -webkit-box;
    /* Enable flex context for the box */
    -webkit-box-orient: vertical;
    /* Set the box to stack vertically */
    overflow: hidden;
    /* Hide overflow text */
    /* Limit to 3 lines */
    /* height: 150px; */
}

.heightadjustment121 {}

.height_adjustment_icons {
    font-size: 52px;
}

.font_for_all_services {
    color: rgb(95, 95, 95);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.img_size_set_New {
    fill: rgb(95, 95, 95) !important;
    width: 32px;
    height: 32px;
    object-fit: cover;

}

.background_ff {
    background-color: #161616;
    text-align: center;
    color: black;
    border-top: 1px solid #9999996c;
}

.position_for_mobile {
    position: absolute;
    top: 46%
}

.vedioPlayer {
    height: 300px;
    /* Set the desired height */
    width: auto;
    /* Keep the width proportional to the height */
}

.vedioPlayer {
    width: 100%;
    /* Makes the video responsive */
    max-height: 550px;
    /* Limits the height */
    object-fit: cover;
    /* Optional: ensures the video covers the area, but may crop */
}


.backtotopbutton {
    background-color: #EC1A24 !important;
    height: 50px !important;
    width: 50px !important;
    padding: 0px !important;
    border-radius: 50px !important;
    font-size: 17px !important;
}

.padding_top_card1 {
    height: 330px;
    position: relative;
}

.bottom_attach_arrow {
    position: absolute;
    bottom: 40px;
    right: 10px;
}

i {
    color: #EC1A24;
}


.custom_button_selection {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    border-radius: 20px;
    border: 1px solid #EC1A24 !important;
    color: white !important;
    --bs-form-select-bg-img: url(../../../public/images/down.png);
}

.custom_button_selection:hover {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    border-radius: 20px;
    border: 1px solid #EC1A24 !important;
    color: white !important;
    --bs-form-select-bg-img: url(../../../public/images/down.png);

}

.custom_button_selection:focus {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    border-radius: 20px;
    border: 1px solid #EC1A24 !important;
    color: white !important;
    --bs-form-select-bg-img: url(../../../public/images/down.png);

}

.custom_button_selection::after {
    color: white !important;
}

.custom_button_selection option {
    color: black;
}

.flag_w_h {
    width: 25px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
}

.position_of_div {
    position: absolute;
    width: 250px;
    z-index: 12;
    top: 100px;
    right: 1.5%;
}






/* ////////////////////////////////////////New code  */

.text_dec_stop_Text {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 33px;
}

.borderbottom_activee {
    border-bottom: 3px solid #EC1A24;
}

.logo_font_txt {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.orange_button_color {
    background-color: #EC1A24;
    color: white;
    font-weight: 500 !important;
    border-radius: 0px !important;
    border: 1px solid #EC1A24;
}

.padding_left_right_header {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 11;
    color: white !important;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.189);
}

.universal_padding_allp {
    padding-left: 100px;
    padding-right: 100px;
}

.industry_text_pp {
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
}

.padding_left_right_header2 {
    padding-left: 30px;
    padding-right: 30px;
}

.color_of_icons {
    color: white;
}

.color_of_phone {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.shadow_for_header {
    -webkit-box-shadow: 1px 17px 43px -14px #c1121ea2;
    -moz-box-shadow: 1px 17px 43px -14px #c1121ea2;
    box-shadow: 1px 17px 43px -14px #c1121ea2;
}

.background_for_image_h {
    background-image: url(/public/images/big2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    /* background-image: linear-gradient(#3C3C3C, #656565, #656565); */
    background-attachment: fixed;
    height: 100vh;
}

.text_for_head1 {
    font-size: 40px;
    padding-top: 15%;
    color: white;
}

.color_of_text_sub {
    font-size: 19px !important;
}

.color_of_text_sub1 {
    font-size: 18px !important;
}

.filter_text {
    font-size: 18px;
    font-weight: 600;
}

.font_main_subheading {
    font-size: 14px;
    color: gray;
}

.satisfied_cc {
    font-size: 20px;
    font-weight: 400;
}

.real_sat {
    font-size: 18px;
    color: gray;
}

.filtertext {
    color: white;
    font-size: 18px;
    padding-top: 15px !important;
    padding-left: 5px !important;
}

.flex_universal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border_for_img {
    border: 1px solid #EC1A24;
    border-radius: 8px;
}


/* ////////////////////////////////////////New code  */

@media (min-width: 600px) and (max-width:1000px) {
    .padding_top_card1 {
        height: 450px !important;
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .background_gray_22 {
        background-color: #B8B8B8;
        background-image: url(/public/images/filter2.jpg);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        height: 60vh;
    }

    .padding_top_bottom_left_1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_universal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .margin_right_neggg {
        position: relative;
        z-index: 0;
        margin-top: auto;
        right: auto !important;
        width: auto;
    }


    .img_gray {
        background-image: linear-gradient(#3C3C3C, #656565, #656565);
        background-image: url(/public/images/filter4.jpg);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .img_gray1 {
        background-image: linear-gradient(#3C3C3C, #656565, #656565);
        background-image: url(/public/images/filter5.jpg);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .img_gray2 {
        background-image: linear-gradient(#3C3C3C, #656565, #656565);
        background-image: url(/public/images/filter6.webp);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        height: 30vh;
    }


    .position_relative_bb_new {
        position: relative;
        height: auto;
    }

    .position_bottom_1 {
        position: relative;
        /* bottom: -91px; */
        margin-top: 0px;
        padding-bottom: 40px;
    }



    .padding_top_bottom_left_right_only {
        padding-left: 20px;
        padding-right: 20px;
    }

    .border_right_11 {
        border-top: 2px solid #EBEBEB;
        transition: 0.5s ease-in-out;
        border-right: 0px;
    }

    .border_right_simple {
        border-top: 2px solid #EBEBEB;
        transition: 0.5s ease-in-out;
    }

    .font_big_heading {
        font-size: 26px;
        font-weight: 600;
    }

    .font_big_heading_sub {
        font-size: 26px;
        font-weight: 600;
    }

    .button_cutome1 {
        background-color: #EC1A24;
        border-radius: 8px !important;
        color: white !important;
        border: 1px solid #EC1A24;
        width: 80%;
    }

    .background_for_image_h {
        background-image: url(/public/images/big2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .industry_text_pp {
        font-size: 60px;
        line-height: 80px;
        font-weight: 500;
    }

    .padding_top_card {
        text-align: center;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
        /* padding: 25px 15px; */
        transition: all .5s;
        background-color: white;
        border-radius: 8px;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .position_of_button {
        position: relative;
        bottom: 20px;
        margin-top: 20px;
        z-index: 11;
        width: 100%;

    }

    .logo_font_txt {
        width: 40px;
        height: 40px;
        border-radius: 15px;
    }

    .heightadjustment {
        display: -webkit-box;
        /* Enable flex context for the box */
        -webkit-box-orient: vertical;
        /* Set the box to stack vertically */
        overflow: hidden;
        /* Hide overflow text */
        /* Limit to 3 lines */
        height: auto;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .position_for_mobile {
        position: relative;
        padding-top: 20%;
        padding-bottom: 20%;
        background-image: url(../../../public/images/hero/Background.png);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }

    .padding_top_card1 {
        height: 350px !important;
        position: relative;
    }

    .display_mobile {
        display: block;
    }

    .display_pc {
        display: none;
    }

    .color_white_text {
        color: white;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }

    .image_slider_front {
        background-image: url(../../../public/images/slider-bg.jpg);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 35%;
        padding-bottom: 35%;
    }


}