.header_background_orange {
    background-color: #E91E20;
    /* height: 2vh; */
}

.background_blue {
    background-color: black;

}

.fade-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade-text {
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-container .fade-text {
    opacity: 1;
}

.overflow_stop {
    overflow-x: hidden !important;
}

.width_logo {
    width: 160px;
    padding-left: 10px;
    padding-right: 10px;
}

.widdth_height_bg {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 7.5px;
    background-color: #228822;
    border-radius: 50%;
    color: white;
}

.location_text {
    color: white;
    padding-left: 5px;
    font-weight: 400;
    font-size: 18px;

}

.width_set1 {
    width: 18%;
}

.width_set2 {
    width: 20%;
}

.width_set3 {
    width: 27%;
}

.width_set5 {
    width: 20%;
}

.width_set4 {
    width: 14%;
    text-align: end;
    padding-right: 10px;
}

.position_of_3rdnav {
    position: absolute;
    z-index: 1111;
    background-color: #4bbb174d;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s;
    font-weight: 600;
}

.position_of_3rdnav_other {
    z-index: 1111;
    background-color: #228822;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .3s;
    font-weight: 600;
}

.image_slider_front {
    background-image: url(../../../public/images/slider-bg.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 12%;
}

.vedioPlayer {
    width: 100%;
    height: 40% !important;
    position: relative;
}

.color_white_text {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.padding_top_bottom_left_right {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 10%;
    padding-right: 10%;
}

.button_srcondary_position {
    position: fixed;
    bottom: 15px;
    z-index: 11111;
    width: 100%;
}

.button_srcondary_position111 {
    position: fixed;
    bottom: 75px;
    z-index: 11111;
    width: 100%;
}

.button_cutome {
    background-color: white !important;
    border-radius: 8px !important;
}

.button_cutome1 {
    background-color: #E91E20;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid #E91E20;
    width: 20%;
}

.button_cutome1:hover {
    background-color: #da5961;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid #da5961;
}

.button_cutome2 {
    background-color: black;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid black;
    /* width: 20%; */
}

.button_cutome2:hover {
    background-color: black;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid black;
}

.border_of_cards {
    /* border: 1px solid #E91E20; */
    -webkit-box-shadow: -3px 7px 33px -4px rgba(0, 0, 0, 0.289);
    -moz-box-shadow: -3px 7px 33px -4px rgba(0, 0, 0, 0.289);
    box-shadow: -3px 7px 33px -4px rgba(0, 0, 0, 0.289);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.border_of_cards:hover {
    /* border: 1px solid #E91E20; */
    -webkit-box-shadow: -3px 7px 33px -4px #e91e2166;
    -moz-box-shadow: -3px 7px 33px -4px #e91e2166;
    box-shadow: -3px 7px 33px -4px #e91e2166;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;

}

.img_heights_of_cards {
    height: 260px;
    width: 100%;
}

.img_heights_of_cards2 {
    height: 160px;
    width: 100%;
}


.button_cutome_black {
    background-color: black;
    border-radius: 8px !important;
    color: white !important;
    border: 1px solid black;
}

.border_for_image {
    border: 3px solid #E91E20;
    border-radius: 10px;
}

.border_for_image1 {
    border: 3px solid #E91E20;
    border-radius: 10px;
}


.color_towerld {
    color: #E91E20;
}

.font_for_p {
    font-size: 19px;
    margin-top: 20px;
}

.backgrou_blue_section3 {
    background-color: black;
}

.button_white_tabs {
    border-radius: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    background-color: #DA7426 !important;
    font-weight: 600;
    color: white;
    border-radius: 8px;

}

.button_white_tabs_unactive {
    background-color: #E91E20 !important;
    border-radius: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    color: black;
    border: none !important;
    font-weight: 600;
    border-radius: 8px;
}

.button_white_tabs_unactive:hover {
    background-color: #228822 !important;
    border-radius: 0px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    color: black;
    border: none !important;
    border-radius: 8px;
}

.border_for_c_image {
    border-radius: 8px;
    height: 310px;
}

.padding_top_card {
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    /* padding: 25px 15px; */
    transition: all .5s;
    background-color: white;
    border-radius: 8px;
    height: 550px;
    overflow: hidden;
    position: relative;
}

.padding_top_card:hover {
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    /* padding: 25px 15px; */
    transition: all .5s;
    background-color: #E91E20;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: -3px 7px 33px -4px #f9f9f966;
    -moz-box-shadow: -3px 7px 33px -4px #f9f9f966;
    box-shadow: -3px 7px 33px -4px #f9f9f966;
    position: relative;
}

.position_of_button {
    position: absolute;
    bottom: 20px;
    z-index: 11;

}


.padding_top_bottom_left_right_only {
    padding-left: 10%;
    padding-right: 10%;
}

.background_for_maps {
    background-color: black;
}

.border_for_lg {
    border-radius: 8px !important;
}

.background_footer {
    background-color: black;
}

.display_pc {
    display: block;
}

.display_mobile {
    display: none;
}

.buger_menu {
    color: white !important;
    font-size: 25px;
}

.background_blue_position {
    position: absolute;
    z-index: 11;
    background-color: #E91E20;
    color: white;
    height: 100%;
    width: 100%;
}

.heightadjustment {
    display: -webkit-box;
    /* Enable flex context for the box */
    -webkit-box-orient: vertical;
    /* Set the box to stack vertically */
    overflow: hidden;
    /* Hide overflow text */
    /* Limit to 3 lines */
    /* height: 150px; */
}

.heightadjustment121 {}

.height_adjustment_icons {
    font-size: 52px;
}

.font_for_all_services {
    color: rgb(95, 95, 95);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.img_size_set_New {
    fill: rgb(95, 95, 95) !important;
    width: 32px;
    height: 32px;
    object-fit: cover;

}

.background_ff {
    background-color: #E91E20;
    text-align: center;
    color: black;
}

.position_for_mobile {
    position: absolute;
    top: 46%
}

.vedioPlayer {
    height: 300px;
    /* Set the desired height */
    width: auto;
    /* Keep the width proportional to the height */
}

.vedioPlayer {
    width: 100%;
    /* Makes the video responsive */
    max-height: 550px;
    /* Limits the height */
    object-fit: cover;
    /* Optional: ensures the video covers the area, but may crop */
}


.backtotopbutton {
    background-color: #E91E20 !important;
    height: 50px !important;
    width: 50px !important;
    padding: 0px !important;
    border-radius: 50px !important;
    font-size: 17px !important;
}

.padding_top_card1 {
    height: 330px;
    position: relative;
}

.bottom_attach_arrow {
    position: absolute;
    bottom: 40px;
    right: 10px;
}

i {
    color: #E91E20;
}


.custom_button_selection {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    border-radius: 20px;
    border: 1px solid #E91E20 !important;
    color: white !important;
    --bs-form-select-bg-img: url(../../../public/images/down.png);
}

.custom_button_selection:hover {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    border-radius: 20px;
    border: 1px solid #E91E20 !important;
    color: white !important;
    --bs-form-select-bg-img: url(../../../public/images/down.png);

}

.custom_button_selection:focus {
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    border-radius: 20px;
    border: 1px solid #E91E20 !important;
    color: white !important;
    --bs-form-select-bg-img: url(../../../public/images/down.png);

}

.custom_button_selection::after {
    color: white !important;
}

.custom_button_selection option {
    color: black;
}

.flag_w_h {
    width: 25px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
}

.position_of_div {
    position: absolute;
    width: 250px;
    z-index: 12;
    top: 100px;
    right: 1.5%;
}






/* ////////////////////////////////////////New code  */

.text_dec_stop_Text {
    color: black !important;
    text-decoration: none;
    font-weight: 500;
}

.logo_font_txt {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.padding_left_right_header {
    padding-left: 20px;
    padding-right: 20px;
}

.padding_left_right_header2 {
    padding-left: 30px;
    padding-right: 30px;
}

.color_of_icons {
    color: white;
}

.color_of_phone {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.shadow_for_header {
    -webkit-box-shadow: 1px 17px 43px -14px #c1121ea2;
    -moz-box-shadow: 1px 17px 43px -14px #c1121ea2;
    box-shadow: 1px 17px 43px -14px #c1121ea2;
}

.background_for_image_h {
    background-image: url("/public/imagess/filter-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 80vh;
}

.text_for_head1 {
    font-size: 40px;
    padding-top: 15%;
    color: white;
}

.color_of_text_sub {
    font-size: 19px !important;
}

.color_of_text_sub1 {
    font-size: 18px !important;
}

.filter_text {
    font-size: 18px;
    font-weight: 600;
}

.font_main_subheading {
    font-size: 14px;
    color: gray;
}

.satisfied_cc {
    font-size: 20px;
    font-weight: 400;
}

.real_sat {
    font-size: 18px;
    color: gray;
}

.filtertext {
    color: white;
    font-size: 18px;
    padding-top: 15px !important;
    padding-left: 5px !important;
}


/* ////////////////////////////////////////New code  */

@media (min-width: 600px) and (max-width:1000px) {
    .padding_top_card1 {
        height: 450px !important;
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .button_cutome1 {
        background-color: #E91E20;
        border-radius: 8px !important;
        color: white !important;
        border: 1px solid #E91E20;
        width: 80%;
    }

    .background_for_image_h {
        background-image: url("/public/imagess/filter-edited.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        height: 80vh;
        padding-left: 15px;
        padding-right: 15px;
    }

    .padding_top_card {
        text-align: center;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
        /* padding: 25px 15px; */
        transition: all .5s;
        background-color: white;
        border-radius: 8px;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .position_of_button {
        position: relative;
        bottom: 20px;
        margin-top: 20px;
        z-index: 11;
        width: 100%;

    }

    .logo_font_txt {
        width: 40px;
        height: 40px;
        border-radius: 15px;
    }

    .heightadjustment {
        display: -webkit-box;
        /* Enable flex context for the box */
        -webkit-box-orient: vertical;
        /* Set the box to stack vertically */
        overflow: hidden;
        /* Hide overflow text */
        /* Limit to 3 lines */
        height: auto;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .position_for_mobile {
        position: relative;
        padding-top: 20%;
        padding-bottom: 20%;
        background-image: url(../../../public/images/hero/Background.png);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }

    .padding_top_card1 {
        height: 350px !important;
        position: relative;
    }

    .display_mobile {
        display: block;
    }

    .display_pc {
        display: none;
    }

    .color_white_text {
        color: white;
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }

    .image_slider_front {
        background-image: url(../../../public/images/slider-bg.jpg);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 35%;
        padding-bottom: 35%;
    }


}